dist: trusty
sudo: false
language: cpp

compiler:
  - gcc
  - gcov
before_install:
  - pip install --user cpp-coveralls
script:
  - mkdir build
  - cd build
  - cmake -DENABLE_COVERAGE:BOOL=TRUE ..
  - make VERBOSE=1
  - ./coverage
after_success:
  - coveralls --exclude lib --exclude tests --gcov-options '\-lp'
